[submodule "quicksilver"]
	path = quicksilver
	url = https://github.com/audacious-software/Quicksilver-Django.git
[submodule "simple_messaging"]
	path = simple_messaging
	url = https://github.com/audacious-software/Simple-Messaging-Django.git
[submodule "django_dialog_engine"]
	path = django_dialog_engine
	url = https://github.com/audacious-software/Django-Dialog-Engine.git
[submodule "django_dialog_engine_builder"]
	path = django_dialog_engine_builder
	url = https://github.com/audacious-software/Django-Dialog-Engine-Builder.git
[submodule "simple_messaging_dialog_support"]
	path = simple_messaging_dialog_support
	url = https://github.com/audacious-software/Simple-Messaging-Dialog-Engine-Support.git
[submodule "simple_messaging_twilio"]
	path = simple_messaging_twilio
	url = https://github.com/audacious-software/Simple-Messaging-Django-Twilio.git
[submodule "simple_messaging_azure"]
	path = simple_messaging_azure
	url = https://github.com/audacious-software/Simple-Messaging-Django-Azure.git
[submodule "nagios_monitor"]
	path = nagios_monitor
	url = https://github.com/audacious-software/Django-Nagios-Monitoring.git
[submodule "simple_generative_ai"]
	path = simple_generative_ai
	url = https://github.com/audacious-software/Simple-Generative-AI-Django.git
[submodule "simple_dashboard"]
	path = simple_dashboard
	url = https://github.com/audacious-software/Simple-Dashboard-Django.git
