wheel
-r django_dialog_engine/requirements.txt
-r django_dialog_engine_builder/requirements.txt
-r quicksilver/requirements.txt
-r simple_dashboard/requirements.txt
-r simple_messaging/requirements.txt
-r simple_messaging_azure/requirements.txt
-r simple_messaging_dialog_support/requirements.txt
-r simple_messaging_twilio/requirements.txt
django-auth-ldap==4.0.0; python_version < '3.7'
django-auth-ldap==4.1.0; python_version >= '3.7'
