{% extends 'dashboard_base.html' %}
{% load static %}
{% block 'page_title' %}Home | SMS Dashboard{% endblock %}
{% block 'navigation_title' %}Home{% endblock %}
{% block 'main_content' %}
	<div class="mdc-layout-grid">
		<div class="mdc-layout-grid__inner">
			<div class=" mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
				<div class="mdc-card" style="padding: 16px;">
					<div class="mdc-typography mdc-typography--headline6">Response Funnel</div>
					<p class="mdc-typography mdc-typography--body1">Chart collective progress through message sequence.</p>
				</div>
			</div>
			<div class="mdc-layout-grid__cell">
				<div class="mdc-card" style="padding: 16px;">
					<div class="mdc-typography mdc-typography--headline6">Sessions</div>
					<p class="mdc-typography mdc-typography--body1">Active Sessions: <strong>{{ active_sessions.count }}</strong></p>
					<p class="mdc-typography mdc-typography--body1">Completed Sessions: <strong>{{ completed_sessions.count }}</strong></p>
					
					{% if oldest_active_session %}
						<p class="mdc-typography mdc-typography--body1">Oldest Session: <strong>{{ oldest_active_session.dialog }}</strong> (since {{ oldest_active_session.started }})</p>
					{% endif %}

					<p class="mdc-typography mdc-typography--body1">Average Session Duration: <strong>{{ average_session_duration_humanized }}</strong></p>
				</div>

				<div class="mdc-card" style="padding: 16px; margin-top: 24px;">
					<div class="mdc-typography mdc-typography--headline6">Message Traffic</div>
					<p class="mdc-typography mdc-typography--body1">Messages Received: <strong>{{ incoming_messages.count }}</strong></p>
					<p class="mdc-typography mdc-typography--body1">Messages Sent: <strong>{{ outgoing_messages_sent.count }}</strong></p>
					<p class="mdc-typography mdc-typography--body1">Messages Pending: <strong>{{ outgoing_messages_pending.count }}</strong></p>
				</div>
			</div>
		</div>
	</div>
	<div class="mdc-layout-grid">
		<div class="mdc-layout-grid__inner">
			<div class="mdc-layout-grid__cell">
				<div class="mdc-card" style="padding: 16px;">
					<div class="mdc-card__media mdc-card__media--16-9">
						<div class="mdc-card__media-content">
							<div class="mdc-typography mdc-typography--headline6">Response Funnel</div>
							<p class="mdc-typography mdc-typography--body1">Chart collective progress through message sequence.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="mdc-layout-grid__cell">
				<div class="mdc-card" style="padding: 16px;">
					<div class="mdc-card__media mdc-card__media--16-9">
						<div class="mdc-card__media-content">
							<div class="mdc-typography mdc-typography--headline6">Message Traffic</div>
						</div>
					</div>
				</div>
			</div>
			<div class="mdc-layout-grid__cell">
				<div class="mdc-card" style="padding: 16px;">
					<div class="mdc-card__media mdc-card__media--16-9">
						<div class="mdc-card__media-content">
							<div class="mdc-typography mdc-typography--headline6">Completions</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block 'js_init' %}
	<script data-main="{% static 'dashboard/js/app/home.js' %}" src="{% static 'builder-js/vendor/require.js' %}"></script>
{% endblock %}
